/* Header start */
.header {
  max-width: 100%;
  max-height: 293px;
  padding: 92px 50px 96px 50px;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-layout__nav-logo-container {
  display: flex;
  gap: 37px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 13px;
  list-style-type: none;
}

.menu__list-item {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.active-link {
  text-decoration: none;
}

.menu__list-item:not(:first-child)::before {
  content: '';
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 4px;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 100%;
}

.logo {
  width: 148px;
  height: 105px;   
}

.header-layout__contacts-container {
  width: 207px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

/* HEADER END */
 

